@font-face {
    font-family: 'pingfang_scregular';
    src: url('pingfang_sc_regular-webfont.woff2') format('woff2'),
        url('pingfang_sc_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}